.main-view {
  background: url("https://images.unsplash.com/photo-1499463217683-ee3c9ce038f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p.panel-text-content {
  text-align: center;
}
p.panel-text-content h1 {
  margin: 20px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #0ff,
    0 0 20px #0ff;
}
.panel-container {
  background: #000;
  color: #08f7fe;
  border-radius: 20px;
}
.navbar-button.active,
.navbar-button.disabled,
.navbar-button:active,
.navbar-button:focus,
.navbar-button:hover,
.navbar-button[disabled],
.navbar-button {
  background: #08f7fe;
}
